<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>ReactJS + Spring Data REST</title>

        <!-- When it comes to CSS, Spring Boot will automatically serve anything found in src/main/resources/static -->
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
    <!-- this is where it will direct React to plug in the rendered output. -->
    <div id="react"></div>

    <!-- what is this for?? -->
    <script src="built/bundle.js"></script>
    </body>
</html>